<div @fadeTop>
  <input type="text" [(ngModel)]="title" />

  <h3>{{ title }}</h3>

  <button (click)="addItem()">Add item</button>

  <button (click)="deleteLastItem()">Delete last item</button>

  <ng-template [ngIf]="title !== 'hide'" [ngIfElse]="loading">
    <ul>
      <li @fadeLeft *ngIf="items.length === 0">
        Empty list
      </li>
      <li
        @fadeLeft
        [ngStyle]="{ cursor: 'pointer' }"
        *ngFor="let item of items; let i = index"
        (click)="deleteItem(i)"
      >
        {{ item }}
      </li>
    </ul>
  </ng-template>

  <ng-template #loading>
    <div>Loading...</div>
  </ng-template>
</div>
