<div class="container">
  <!-- <div @fadeTop class="section top-section">
    <input type="text" [(ngModel)]="title" />

    <h3>{{ title }}</h3>

    <button (click)="addItem()">Add item</button>

    <button (click)="deleteLastItem()">Delete last item</button>

    <ng-template [ngIf]="title !== 'hide'" [ngIfElse]="loading">
      <ul class="noStyleList">
        <li @fadeTop *ngIf="items.length === 0">
          Empty list
        </li>

        <li
          @fadeLeft
          *ngFor="let item of items; let i = index"
          (click)="deleteItem(i)"
        >
          {{ item }}
        </li>
      </ul>
    </ng-template>

    <ng-template #loading>
      <div class="rotate">Loading...</div>
    </ng-template>
  </div>

  <div class="section">
    <img
      id="ball"
      (click)="rotate()"
      [ngStyle]="{ 'max-width': '300px', cursor: 'pointer' }"
      [ngClass]="{ rotate: title === 'ball' }"
      @fadeBottom
      [@rotate]="state"
      src="http://pngimg.com/uploads/football/football_PNG52759.png"
    />
  </div> -->

  <div class="carpet"></div>

  <div @fadeTop class="section">
    <div @fadeRight class="product" *ngFor="let product of products">
      <h3 class="product-title">
        {{ product.title }}
      </h3>

      <img class="product-image" [src]="product.image" [alt]="product.title" />
    </div>
  </div>
</div>
